:root {
  --border-color-wrap: #ccc;
}

* {
  margin: 0;
  padding: 0;
}

.point {
  cursor: pointer;
}

.btnGroup {
  display: flex;
  justify-content: flex-end;
}

.btn {
  color: white;
  padding: 0 8px;
  line-height: 28px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  min-width: 72px;
  box-sizing: border-box;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.btnGroup .btn + .btn {
  margin-left: 16px;
}

.btn-success {
  background: #5cb85c;
}
.btn-primary {
  background: #00bcd4;
}
.btn-info {
  background: #2196f3;
}
.btn-delete {
  background: #d9534f;
}
.btn-disabled {
  background: #d8d3d3;
  color: #333;
  cursor: not-allowed;
}

.title {
  font-size: 20px;
  margin: 24px 0 48px;
  text-align: center;
}
.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid var(--border-color-wrap);
  display: flex;
  box-sizing: border-box;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #b1b1b1;
}

input,
select {
  height: 32px;
}

input[type="text"] {
  border-radius: 3px;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 8px;
}

.taskForm .btn {
  width: 100%;
  margin: 32px 0 16px;
}

.container {
  padding: 0 10%;
  box-sizing: border-box;
}

.newTask {
  width: 40%;
}

.todoList {
  width: 60%;
  position: relative;
  padding-bottom: 150px;
  box-sizing: border-box;
}

.todoList:after {
  display: block;
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--border-color-wrap);
}

.lstItem {
  margin-top: 16px;
}

.rowItem {
  margin-bottom: 12px;
}

.rowItem.column {
  justify-content: space-between;
  display: flex;
}

.rowItem.column > div {
  flex: 1;
}

.rowItem.column div + div {
  margin-left: 5%;
}

.rowItem > p,
.rowItem.column p {
  font-weight: 500;
  margin-bottom: 4px;
}

.lstItem > .rowItem {
  border: 1px solid var(--border-color-wrap);
  padding: 16px 16px;
  box-sizing: border-box;
  overflow: hidden;
}

.lstItem .rowItem .item {
  display: flex;
  justify-content: space-between;
}
.lstItem .rowItem .item .btnGroup {
  margin-left: 8px;
}

label {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-start;
}

label span {
  display: grid;
}
label p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.detail {
  margin-top: 16px;
  position: relative;
  padding-top: 16px;
}

.detail .line {
  position: absolute;
  width: 200%;
  height: 1px;
  background: var(--border-color-wrap);
  top: 0;
  left: -50%;
}

.bulkAction {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  background: #e0e0e0;
  height: 100px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  left: 1px;
  border-top: 1px solid var(--border-color-wrap);
}

.bulkAction .btn {
  line-height: 36px;
  min-width: 90px;
}

@media only screen and (max-width: 960px) {
  .wrap {
    flex-direction: column;
  }

  .newTask,
  .todoList {
    width: 100%;
  }

  .newTask {
    border-bottom: 1px solid var(--border-color-wrap);
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5%;
  }
}
